html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #A6003D;
    color: white;
    padding: 1rem;
    text-align: center;
}
header .logo {
    width: 200px; /* Ajusta el tamaño según tu imagen */
    height: auto;
    margin-bottom: 10px;
}

section {
    padding: 2rem;
}

footer {
    margin-top: auto; /* Esto hace que el footer se mantenga pegado abajo */
    background-color: #ddd;
    text-align: center;
    padding: 1rem;
    font-size: 14px;
}
/* Estilos generales para el acordeón */
.accordion-btn {
    width: 100%;               /* Hace que los botones ocupen todo el ancho */
    padding: 1rem;             /* Añadimos un poco de espacio alrededor */
    background-color: #ff262a; /* Color de fondo del botón */
    color: white;              /* Color del texto */
    border: none;              /* Sin borde */
    text-align: left;          /* El texto a la izquierda */
    font-size: 1rem;           /* Tamaño de texto */
    font-weight: bold;         /* Negrita */
    cursor: pointer;          /* Cambia el cursor cuando está sobre el botón */
    transition: background-color 0.3s ease; /* Efecto suave al pasar el ratón */
    outline: none;             /* Quita el borde del botón cuando se selecciona */
    margin-bottom: 5px;        /* Separa los botones unos de otros */
}

.accordion-btn:hover {
    background-color: #ff262a; /* Cambia el color al pasar el ratón */
}

.accordion-content {
    padding: 0 1rem;             /* Relleno para el contenido */
    background-color: #f9f9f9;   /* Fondo de color claro para el contenido */
    display: none;               /* Oculta el contenido por defecto */
    overflow: hidden;            /* Evita desbordamientos */
    border: 1px solid #ddd;      /* Borde alrededor del contenido */
    margin-bottom: 5px;          /* Separación entre los bloques de contenido */
}

.accordion-btn.active {
    background-color: #ff262a;   /* Cambia el fondo cuando está activo */
}

.accordion-content p {
    margin: 0.5rem 0;            /* Espaciado dentro del contenido */
}

