html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #A6003D;
    color: white;
    padding: 1rem;
    text-align: center;
}
header .logo {
    width: 400px; /* Ajusta el tamaño según tu imagen */
    height: auto;
    margin-bottom: 10px;
}

section {
    padding: 2rem;
}

footer {
    margin-top: auto; /* Esto hace que el footer se mantenga pegado abajo */
    background-color: #ddd;
    text-align: center;
    padding: 1rem;
    font-size: 14px;
}
