html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #A6003D;
    color: white;
    padding: 1rem;
    text-align: center;
}
header .logo {
    width: 200px; /* Ajusta el tamaño según tu imagen */
    height: auto;
    margin-bottom: 10px;
}

section {
    padding: 2rem;
}

footer {
    margin-top: auto; /* Esto hace que el footer se mantenga pegado abajo */
    background-color: #ddd;
    text-align: center;
    padding: 1rem;
    font-size: 14px;
}
.accordion-btn {
    width: 100%;
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

.accordion-btn:hover {
    background-color: #45a049;
}

.accordion-content {
    padding: 0 1rem;
    background-color: #f9f9f9;
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease;
    border: 1px solid #ddd;
}

.accordion-content p {
    margin: 0.5rem 0;
}

.accordion-btn.active {
    background-color: #367c39;
}

